/* 
    Document   : Styles
    Created on : 2-Apr-2013, 8:59:06 PM
    Author     : Graham
    Description:
        Purpose of the stylesheet follows.
*/

html { 
    min-height: 100%;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin:  0;
}
body { 
    padding: 0;
    margin:  0;
    text-align: center;
    background: rgb(0,99,99); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,99,99,1) 0%, rgba(0,153,153,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,99,99,1)), color-stop(100%,rgba(0,153,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,99,99,1) 0%,rgba(0,153,153,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,99,99,1) 0%,rgba(0,153,153,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,99,99,1) 0%,rgba(0,153,153,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,99,99,1) 0%,rgba(0,153,153,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006363', endColorstr='#009999',GradientType=0 ); /* IE6-9 */ 
}
#content {
    padding: 0;
    margin:0px auto;
    text-align:left;
}
#content_padding{
    padding: 0.5em;
}


#title_text {

    padding: 0;
    margin: 0;
    margin-bottom: 1em;

    font-family: 'BebasNeueRegular', sans-serif;
    color: #FFFFFF;
    font-weight: bold;

}

#title_text > div > span {
    position: absolute;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#title_text > #title_text_R > span {
    bottom: -0.1em;
    right: 0.02em;

}

#title_text > #title_text_OUTELY > span {
    bottom: 0;
}

#title_text > #title_text_R{
    position: relative;

    display: inline-block;

    -moz-border-radius: 0.1em;
    -webkit-border-radius: 0.1em;
    border-radius: 0.1em;

    width: 1.3em;
    height: 1.3em;
    padding: 0em;
    margin-right: 0em;

    text-align: right;
    text-shadow: -1px -1px 2px #A64B00 ;
    font-size: 6em;

    background: rgb(255,150,64); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,150,64,1) 0%, rgba(191,113,48,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,150,64,1)), color-stop(100%,rgba(191,113,48,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,150,64,1) 0%,rgba(191,113,48,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,150,64,1) 0%,rgba(191,113,48,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,150,64,1) 0%,rgba(191,113,48,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,150,64,1) 0%,rgba(191,113,48,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9640', endColorstr='#bf7130',GradientType=0 ); /* IE6-9 */
}

#title_text > #title_text_OUTELY{
    position: relative;

    display: inline-block;
    padding: 0;
    margin: 0;

    text-align: left;
    font-size: 4em;
    text-shadow: -1px -1px 2px #666;
}



#intro_text {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.6em;
    /*color: #5CCCCC;*/
    margin-bottom: 1em;

    background-color: #FFFFFF;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    border-radius: 0.6em;
}


#input_boxes{
    padding-left: 0.05em;
    padding-right: 0.05em;
    padding-top: 0.1em;
    padding-bottom: 0;
    margin-bottom: 1em;

    background-color: #FFFFFF;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    border-radius: 0.6em;
}
#input_boxes > #InputBoxesList { 
    list-style-type: none;
    padding: 0;
    padding-top: 0.2em;
    margin: 0;
}
#input_boxes > #InputBoxesList > li {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    border-bottom: solid #CCCCCC thin;

}
#input_boxes > #InputBoxesList > li > .locationTypeSelector{
    float: left;
    border: none;
}

#input_boxes > #InputBoxesList > li > .removeFieldButton{
    float: right;
    background: #FFFFFF
}
#input_boxes > #InputBoxesList > li > .removeFieldButton:hover{
    float: right;
    background: #CCCCCC
}

#input_boxes > #InputBoxesList > li:last-child {
    border: none;
}

#input_boxes > #InputBoxesList > li > input[type="text"] {
    border: none;
    font: italic;
    color: #CCCCCC;
    padding-left: 0.4em;
}

#input_boxes > #InputBoxesList > li > #AddLocationButton {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    color: #999999;
}

#input_boxes > #InputBoxesList > li > #AddLocationButton:hover {
    cursor: pointer;
}

input[type="button"] {
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
    border: none;
}

input[type="button"]:hover {
    cursor: pointer;
}

#map_container {
    -webkit-mask-image: url(MapRoundedCornersHack.svg);

    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    overflow: hidden;

    z-index: 2;
}

#map_container > #map_canvas { 
    text-align: center;

}
#map_container > #PlanRoute{
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;

    margin: 0;
    padding: 0;

    position: absolute;
    background: rgba(0,0,0,0.8);

    color: #FF7400;
    font-size: 2.4em;
    z-index: 4;
}

